* {
  box-sizing: border-box;
}

.info-group {
  margin: 15px;
  background-color: beige;
  border: 2px solid green;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 15px;
  width: 85%;
  height: 50%;
}

.info-title {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  color: orange;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 15px;
}

.info-details {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 400px;
  padding: 10px;
  margin: 5px;
}

.slide {
  margin: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slide-img {
  border-radius: 20px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/12 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.catering {
  background-color: #228b22;
  color: var(--text-color-inverse);
  font-size: 18px;
  border-radius: 14px;
  padding: 25px;
  display: grid;
  gap: 25px;
}

.catering p,
.catering h2,
.catering ul {
  margin: 0;
  padding: 0;
}

.catering-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.catering-details,
.catering-form {
  display: grid;
  gap: 20px;
}
.catering-detail-group,
.catering-form-group {
  display: grid;
  gap: 3px;
}
.catering-label {
  text-transform: uppercase;
  font-weight: 500;
}
.catering-form input,
.catering-form textarea {
  width: 100%;
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 10px;
}
.catering-form textarea {
  height: auto;
  resize: vertical;
}
.catering-form-submit {
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: var(--menu-mobile-background-color);
  color: var(--secondary-color);
  border: 2px solid var(--theme-color);
  cursor: pointer;
}
.catering-form-submit:hover {
  box-shadow: 0 0 14px var(--secondary-color);
}
.social-list {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: center;
}
.social-list img {
  height: 25px;
}
.social-list img:hover {
  filter: drop-shadow(0 0 14px black);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.close {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}



@media (min-width: 1024px) {
  .info {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  }

  .info-group {
    width: 50%;
    height: 50%;
  }
  .catering {
    font-size: 20px;
    padding: 70px;
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .catering-title {
    font-size: 35px;
    text-align: left;
  }

  .social-list {
    justify-content: center;
  }
  .social-list img {
    height: 35px;
  }
  .catering-title {
    grid-area: title;
  }
  .catering-details {
    grid-area: details;
  }
  .catering-form {
    grid-area: form;
  }
  .social {
    align-items: center;
  }
  .catering {
    display: grid;
    grid:
      "title   form"
      "details form"
      "social  form" /
      1fr 1fr;
    align-items: center;
  }
}
