@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    object-fit: cover;
    
}

.contenedor{
    padding-top: 110px;
    background-color: orange;
    padding-bottom: 40px;
}

.presentacion{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/**/
.informacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/**/
.informacion--boton button{
    padding: 10px;
    background-color: brown;
    border: 1px solid brown;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
}
.informacion--boton button:hover{
    background-color: white;
    color: brown;
    cursor: pointer;
}
.presentacion--imagen{
    max-width: 800px;
    filter: drop-shadow(0 1mm 3mm gray);
}
/**/
.postres{
    width: 90%;
    margin-inline: auto;
}
.postre{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 85px;
}
/**/
.postre--titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 85px;
}
/**/
.postre{
    width: 80%;
    margin-inline: auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid gray;
}
.postre img{
    width: 150px;
    margin-top: -85px;
}
.postre p{
    font-size: 15px;
    color:gray;
}
.postre--info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.postre--info p{
    font-weight: 900;
}
.postre--info button{
    background-color: brown;
    color: white;
    font-weight: 900;
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 25px;
}
.postre--info button:hover{
    cursor: pointer;
}


